
body{
    margin: 5px 50px 20px 50px;
    background-color: white;
    font-family: 'Segoe UI',  sans-serif;
}

header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav{
    border: solid 1px;
    padding-left: 10px;
    background-color: #436979;
    position: sticky;
    top: 0px;
}

nav ul{
    text-align: left;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 30px;
}

.inline{
    display: inline;
    padding: 20px;
}

section{
    margin-left: 50px;
    margin-right: 50px;
}

section li{
    padding: 8px 0px 8px 0px;
}

p{
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

hr{
    width: 93%;
}

a{
    text-decoration: none;
    color: #000;
}




